/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '../../../node_modules/bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'user-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// Custom core
@import 'user';


@import "custom_bootstrap_vars";
@import "bootstrap";




// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$text: #EDF5E1;
$black: #000;
$mint-green: #8EE4AF;
$green: #5CDB95;
$dark-green: #379683;
$navy-blue: #05386B;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $navy-blue;
  color: $red;
}

.btn-primary {
  background-color: $navy-blue;
}

.btn-primary:hover {
  background-color: $mint-green;
}