<!DOCTYPE html>
<html lang="en">
<head>
    {% include "account/partials/_head.html" with theme_style=settings.THEME_STYLE %}
</head>
<body>
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MODALS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# {% include "users/partials/_modals.html" %} #}


    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% include "users/partials/_sidebar.html" with theme_style=settings.THEME_STYLE category="dashboards" subcategory="" %}
    {% include "users/partials/_topbar.html" with theme_style=settings.THEME_STYLE category="dashboards" subcategory="" %}


    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
