<!doctype html>
<html lang="en">
    <head>
        {% include 'account/partials/_head.html' %}
    </head>
    {% comment %}
    {% block content %}
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% block inner %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    {% endcomment %}
    <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
        {% block content %}
            {% block inner %}{% endblock inner %}
        {% endblock content %}

        {% include 'account/partials/_scripts.html' %}
    </body>
</html>
