<!doctype html>
<html lang="en">
    <head>
        {% include 'account/partials/_head.html' with theme_style=""%}
    </head>
    {% comment %}
    {% block content %}
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% block inner %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    {% endcomment %}
    {% block content %}
        <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

        {% block inner %}{% endblock inner %}
    {% endblock content %}

    {% block javascript %}
        {% include 'account/partials/_scripts.html' %}
    {% endblock javascript %}
    </body>
</html>
