{% extends "base.html" %}
{% load static %}
{% block css %}
{{ super.block }}
{% block title %}Privacy Policy{% endblock title %}
{% endblock css %}
{% block content %}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<section class="pt-8 pt-md-11 pb-8 pb-md-14">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">

        {# Heading #}
        <h1 class="display-4 mb-2">
          Terms of Service
        </h1>

        {# Text #}
        <p class="font-size-lg text-gray-700 mb-md-0">
          Updated 3/24/2020
        </p>

      </div>
      <div class="col-auto">

        {# Buttons #}
        <a href="{{ STATIC_URL }}res/Puddles&#32;Terms&#32;of&#32;Service.pdf" class="btn btn-primary-soft" download>
          Download
        </a>

      </div>
    </div> {# / .row #}
    <div class="row">
      <div class="col-12">

        {# Divider #}
        <hr class="my-6 my-md-8">

      </div>
    </div> {# / .row #}
    <div class="row">
      <div class="col-12 col-md-8">

        {# Text #}
        <p class="font-size-lg text-gray-800 mb-6 mb-md-8">
          Below is our Terms of Serivce which outline a lot of legal goodies, but the bottom line is it’s our aim to always take care of as a customer.
        </p>

        {# Heading #}
        <h3 class="mb-5">
          Conditions of Use
        </h3>

        {# Text #}
        <p class="text-gray-800">
          By visiting and/or taking any action on Puddles, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.
        </p>

        {# Text #}
        <p>
          Here are the terms of using our platform in any capacity:
        </p>

        {# List #}
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            Puddles ("Us" or "We") provides the https://www.puddles.co website and various related services (collectively, the "Website") to you, the User, subject to your compliance with all the terms, conditions, and notices contained or referenced herein (the "Terms of Service"), as well as any other written agreement between us and you.
          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            In addition, when using particular services or materials on this Website, Users shall be subject to any posted rules applicable to such services or materials that may contain terms and conditions in addition to those in these Terms of Service. All such guidelines or rules are hereby incorporated by reference into these Terms of Service.
          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            These Terms of Service are effective as of January 1, 2020. We expressly reserve the right to change these Terms of Service from time to time without notice to you. You acknowledge and agree that it is your responsibility to review this Website and these Terms of Service from time to time and to familiarize yourself with any modifications.
          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            Your continued use of this Website after such modifications will constitute acknowledgement of the modified Terms of Service and agreement to abide and be bound by the modified Terms of Service. This Terms of Service was created by  <a href="https://www.termsservicetemplate.com" target="_blank">Terms of Service Template</a> and the <a href="https://www.terms-conditions-generator.com" target="_blank">Terms and Conditions Generator</a>.
          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            We reserve the sole right to either modify or discontinue the Website, including any of the Website’s features, at any time with or without notice to you. We will not be liable to you or any third party should we exercise such right. Any new features that augment or enhance the then-current services on this Website shall also be subject to these Terms of Service.
          </p>

        </div>

        {# Heading #}
        <h3 class="mb-5">
          Conduct on Website
        </h3>

        {# Text #}
        <p class="text-gray-800">
          Your use of the Website is subject to all applicable laws and regulations, and you are solely responsible for the substance of your communications through the Website. By posting information in or otherwise using any communications service, chat room, message board, newsgroup, software library, or other interactive service that may be available to you on or through this Website, you agree that you will not upload, share, post, or otherwise distribute or facilitate distribution of any content — including text, communications, software, images, sounds, data, or other information — that:
        </p>

        {# List #}
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
              Is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, contains explicit or graphic descriptions or accounts of sexual acts (including but not limited to sexual language of a violent or threatening nature directed at another individual or group of individuals), or otherwise violates our rules or policies

          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800">
            You have 14 days to evaluate your purchase. If your purchase fails to meet expectations set by the seller, or is critically flawed in some way, contact Bootstrap Themes and we will issue a full refund pending a review.
          </p>

        </div>
        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800 mb-6 mb-md-0">
            Victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability
          </p>

        </div>

        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800 mb-6 mb-md-0">
            Infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party
          </p>

        </div>

        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800 mb-6 mb-md-0">
            Constitutes unauthorized or unsolicited advertising, junk or bulk email (also known as "spamming"), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling
          </p>

        </div>

        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800 mb-6 mb-md-0">
            Contains software viruses or any other computer code, files, or programs that are designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party
          </p>

        </div>

        <div class="d-flex">

          {# Badge #}
          <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
            <i class="fe fe-check"></i>
          </span>

          {# Text #}
          <p class="text-gray-800 mb-6 mb-md-0">
            Impersonates any person or entity, including any of our employees or representatives
          </p>

        </div>

        {# Text #}
        <p class="text-gray-800">
          We neither endorse nor assume any liability for the contents of any material uploaded or submitted by third party users of the Website. We generally do not pre-screen, monitor, or edit the content posted by users of communications services, chat rooms, message boards, newsgroups, software libraries, or other interactive services that may be available on or through this Website. However, we and our agents have the right at their sole discretion to remove any content that, in our judgment, does not comply with these Terms of Service and any other rules of user conduct for our site, or is otherwise harmful, objectionable, or inaccurate. We are not responsible for any failure or delay in removing such content. You hereby consent to such removal and waive any claim against us arising out of such removal of content.
        </p>

        {# Text #}
        <p class="text-gray-800">
          You agree that we may at any time, and at our sole discretion, terminate your membership, account, or other affiliation with our site without prior notice to you for violating any of the above provisions. In addition, you acknowledge that we will cooperate fully with investigations of violations of systems or network security at other sites, including cooperating with law enforcement authorities in investigating suspected criminal violations.
        </p>

        {# Heading #}
        <h3 class="mb-5">
          Third Party Websites
        </h3>

        {# Text #}
        <p class="text-gray-800">
          This site may link you to other sites on the Internet or otherwise include references to information, documents, software, materials and/or services provided by other parties. These sites may contain information or material that some people may find inappropriate or offensive.
        </p>

        {# Text #}
        <p class="text-gray-800">
          These other sites and parties are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites, nor are we responsible for errors or omissions in any references to other parties or their products and services. The inclusion of such a link or reference is provided merely as a convenience and does not imply endorsement of, or association with, the Website or party by us, or any warranty of any kind, either express or implied.
        </p>


        {# Heading #}
        <h3 class="mb-5">
          Intellectual Property
        </h3>

        {# Text #}
        <p class="text-gray-800">
          All custom graphics, icons, logos, and service names used on the Website are registered trademarks, service marks, and/or artwork held under copyright of Puddles or its Affiliates. All other marks are property of their respective owners. Nothing in these Terms of Service grants you any right to use any trademark, service mark, logo, and/or the name or trade names of Puddles or its Affiliates.
        </p>


        {# Heading #}
        <h3 class="mb-5">
          Disclaimer of Warranties
        </h3>

        {# Text #}
        <p class="text-gray-800">
          Content available through this Website often represents the opinions and judgments of an information provider, site user, or other person or entity not connected with us. We do not endorse, nor are we responsible for the accuracy or reliability of, any opinion, advice, or statement made by anyone other than an authorized Puddles spokesperson speaking in his/her official capacity. Please refer to the specific editorial policies posted on various sections of this Website for further information, which policies are incorporated by reference into these Terms of Service.
        </p>

        {# Text #}
        <p class="text-gray-800">
          You understand and agree that temporary interruptions of the services available through this Website may occur as normal events. You further understand and agree that we have no control over third party networks you may access in the course of the use of this Website, and therefore, delays and disruption of other network transmissions are completely beyond our control.
        </p>

        {# Text #}
        <p class="text-gray-800">
          You understand and agree that the services available on this Website are provided "AS IS" and that we assume no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings.
        </p>

        {# Heading #}
        <h3 class="mb-5">
          International Use
        </h3>

        {# Text #}
        <p class="text-gray-800">
          Although this Website may be accessible worldwide, we make no representation that materials on this Website are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited. Those who choose to access this Website from other locations do so on their own initiative and are responsible for compliance with local laws. Any offer for any product, service, and/or information made in connection with this Website is void where prohibited.
        </p>

        {# Heading #}
        <h3 class="mb-5">
          Termination
        </h3>

        {# Text #}
        <p class="text-gray-800">
          You agree that we may, in our sole discretion, terminate or suspend your access to all or part of the Website with or without notice and for any reason, including, without limitation, breach of these Terms of Service. Any suspected fraudulent, abusive or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.
        </p>

        {# Text #}
        <p class="text-gray-800">
          Upon termination or suspension, regardless of the reasons therefore, your right to use the services available on this Website immediately ceases, and you acknowledge and agree that we may immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or this Website. We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection with such termination or suspension.
        </p>

        {# Heading #}
        <h3 class="mb-5">
          Governing Law
        </h3>

        {# Text #}
        <p class="text-gray-800">
          These Terms of Service and any dispute or claim arising out of, or related to them, shall be governed by and construed in accordance with the internal laws of the us without giving effect to any choice or conflict of law provision or rule.
        </p>

        {# Text #}
        <p class="text-gray-800">
          Any legal suit, action or proceeding arising out of, or related to, these Terms of Service or the Website shall be instituted exclusively in the federal courts of us.
        </p>

      </div>


      <div class="col-12 col-md-4">

        {# Card #}
        <div class="card shadow-light-lg">
          <div class="card-body">

            {# Heading #}
            <h4>
              Have a question?
            </h4>

            {# Text #}
            <p class="font-size-sm text-gray-800 mb-5">
              Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
            </p>

            {# Heading #}
            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
              Call anytime
            </h6>

            {# Text #}
            <p class="font-size-sm mb-5">
              <a href="tel:555-123-4567" class="text-reset">(510) 805–6663</a>
            </p>

            {# Heading #}
            <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
              Email us
            </h6>

            {# Text #}
            <p class="font-size-sm mb-0">
              <a href="mailto:hi@puddles.co" class="text-reset">hi@puddles.co</a>
            </p>

          </div>
        </div>

      </div>
    </div> {# / .row #}
  </div> {# / .container #}
</section>
{% endblock content %}
{% block javascript %}
{{ super.block }}
{% endblock javascript %}
