{% load static i18n compress %}
<nav class="navbar navbar-expand-lg {{ classList }}">
  <div class="{% if type == 'boxed' %}container{% else %}container-fluid{% endif %}">

    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo/vector/default-monochrome.svg' %}" height=42 class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Buy now
      </a>

    </div>

  </div>
</nav>
