{% load static i18n compress%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Puddles dashboard." />

{% compress css %}
<!-- Libs CSS -->
<link rel="stylesheet" href="{% static 'fonts/Feather/feather.css' %}" />
<link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}" />
<link rel="stylesheet" href="{% static 'libs/quill/dist/quill.core.css' %}" />
<link rel="stylesheet" href="{% static 'libs/highlightjs/styles/vs2015.css' %}" />
{% endcompress css %}

<!-- Map -->
<link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

{% compress css %}
{% if theme_style == "dark" %}
    <link rel="stylesheet" href="{% static 'css/dashkit-theme-dark.min.css' %}" id="stylesheetDark" />
{% elif theme_style == "light" %}
    <link rel="stylesheet" href="{% static 'css/dashkit-theme.min.css' %}" id="stylesheetLight" />
{% else %}
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}" id="stylesheetLight" />
{% endif %}
{% endcompress %}



<!-- Title -->
{# <title>{{ title }}</title> #}
<title>{% block title %}{% block head_title %}Account{% endblock head_title %}{% endblock title %}</title>
